@media only screen and (min-width: 300px) and (max-width: 768px) {
  .CategoriesNav {
    display: auto;
    flex-wrap: wrap;
    list-style-type: none;
  }
  .Navigation {
    display: auto;
    flex: 1;
    background-color: pink;
  }
  .NavBar {
    width: 103%;
  }
  .NavHeadings:hover {
    background-color: #ffffff80;
  }

  .QueriesMapped:hover {
    background-color: pink;
    padding: 5px;
    border-radius: 5px;
    margin-left: 0px;
  }

  .SortByList {
    background-color: whitesmoke;
    color: darkslategrey;
    border-radius: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 20px;
    cursor: pointer;
    width: 200px;
    margin-left: 260px;
  }

  .OrderByList {
    background-color: whitesmoke;
    color: darkslategrey;
    border-radius: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 20px;
    cursor: pointer;
    width: 100px;
    margin-left: 420px;
  }
}

.CategoriesNav {
  display: auto;
  list-style-type: none;
  margin-left: 0px;
}

.NavHeadings {
  flex: 1;
  background-color: pink;
  border: none;
  height: 45px;
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  text-align: left;
  letter-spacing: 3px;
  cursor: grab;
}

.Navigation {
  display: flex;
  flex: 1;
}

@media only screen and (min-width: 768px) {
  .Navigation {
    display: flex;
    flex-wrap: wrap;
  }

  .NavHeadings:hover {
    background-color: #ffffff60;
  }

  .QueriesMapped:hover {
    background-color: pink;
    padding: 5px;
    border-radius: 5px;
    margin-left: 0px;
  }
  .SortByList {
    background-color: whitesmoke;
    color: darkslategrey;
    border-radius: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 20px;
    cursor: pointer;
    margin-left: 600px;
    margin-top: 0px;
    width: 180px;
  }

  .OrderByList {
    background-color: whitesmoke;
    color: darkslategrey;
    border-radius: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 20px;
    cursor: pointer;
    margin-left: 1150px;
    margin-top: 0px;
    width: 150px;
  }
}
