@media (min-width: 300px) and (max-width: 768px) {
  .App {
    display: flex;
    width: 550px;
  }
  .NavBar {
    width: 600px;
  }

  .Navigation {
    display: flex;
  }

  .IndividualReviewAndImage {
    display: block;
    flex-wrap: wrap;
  }

  .IndividualReview {
    width: 460px;
    height: auto;
    display: block;
    flex-wrap: wrap;
    padding: 15px;
    margin: 22px;
    border-radius: 20px;
  }
  .IndividualReviewImage {
    width: 400px;
    height: 300px;
    padding: 18px;
    border-radius: 40px;
  }

  .CommentsContainer {
    display: flex;
    flex-wrap: wrap;
  }
}

/* When screen 768px or larger */
@media only screen and (min-width: 768px) {
  .WelcomePage {
    width: 600px;
    height: 500px;
    background-color: lightgray;
    align-self: center;
  }

  .IndividualReview {
    width: 700px;
    float: left;
    padding: 20px;
    padding-bottom: 30px;
    margin-right: 140px;
    border-radius: 20px;
  }

  .IndividualReviewImage {
    width: 600px;
    height: 480px;
    border-radius: 20px;
  }
  .IndividualReviewAndImage {
    display: inline-block;
    margin-top: 0px;
    padding: 100px;
    padding-top: 10px;
  }
}

.Spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: azure;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(-15deg);
  }
  70% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

header {
  margin: auto;
}

main {
  margin: auto;
}

body {
  margin: 0px;
  background-color: lightgray;
}

.App {
  background-color: lightgrey;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
}

.Reviewsable {
  padding-top: 60px;
  letter-spacing: 9px;
  word-spacing: 3px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 68px;
  font-weight: 100;
  animation: rotate 6s infinite ease-in-out;
  padding-left: 10px;
  margin: 0px;
  padding-bottom: 0px;
}

.Pen {
  animation: rotate 4s infinite ease-in-out;
  padding: 0px;
  margin: 0px;
}

.Dice {
  animation: rotate 3s infinite ease;
  padding: 0px;
  margin: 0px;
}

.WelcomePage {
  margin: 0 auto 0 auto;
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 40px;
  background-color: floralwhite;
  color: black;
  letter-spacing: 5px;
  line-height: 80px;
  font-size: 40px;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.SeeReviews {
  display: flex;
  padding: 10px;
  margin: 5px;
  border: 2px solid darkslategrey;
  border-radius: 40px;
  font-style: italic;
  font-size: 35px;
  text-decoration: none;
  color: darkslategrey;
  box-shadow: 5px 3px 3px 5px darkslategrey;
}

.LoadingMsg {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
  margin: 10px;
  font-size: 30px;
  letter-spacing: 4px;
}

.AllReviewsTitle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  margin-top: 60px;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 2px;
  font-style: italic;
  font-size: 45px;
  color: grey;
}

.AllReviews {
  background-color: whitesmoke;
  border-radius: 15px;
  width: 350px;
  height: 500px;
  margin: 5px;
  margin-bottom: 30px;
  padding: 5px;
  text-align: center;
  box-shadow: 5px 3px 3px 5px darkslategrey;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
}

.AllReviewsContainer {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto 0 auto;
  width: 70%;
  padding: 0px;
}

.ViewButton {
  background-color: white;
  color: darkslategray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 5px;
  font-size: 20px;
  width: 65px;
  padding: 2px;
  margin: 5px;
  cursor: pointer;
}

.CategoriesNavButton {
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 15px;
  text-decoration: none;
  margin: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  color: darkslategrey;
  text-transform: uppercase;
  background-color: whitesmoke;
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.CategoriesDescription {
  background-color: grey;
  border-radius: 10px;
  color: white;
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1.5px;
  font-size: 20px;
  font-weight: 100;
  width: 100%;
  cursor: auto;
}

.CategoryTitle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 3px;
  font-style: italic;
  font-size: 48px;
  color: darkslategray;
  text-shadow: 50px;
  margin: 0px;
}

.errorMsg {
  text-align: center;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  letter-spacing: 2px;
  margin-right: 10px;
}

/* MAKES IMAGES ON REVIEW CARD SPIN 360: */
/* .ReviewsImages {
  animation: rotation 4s infinite linear;
}
@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
} */

.ReviewsImages:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.SeeReviews:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.IndividualReview {
  display: auto;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 2.5px;
  word-spacing: 2px;
  line-height: 25px;
  color: darkslategray;
  background-color: aliceblue;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.BackButton {
  padding: 10px;
  margin-left: 20px;
  width: 160px;
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: darkslategray;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
}

.thumbsUp,
.thumbsDown {
  border-radius: 10px;
  font-size: 30px;
  border: none;
  margin: 5px;
  padding: 5px;
}

.CommentsContainer {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}

.Comments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 15px;
  align-items: center;
  width: 450px;
  height: 300px;
  margin: 20px;
  padding: 10px;
  letter-spacing: 1.5px;
  box-shadow: 10px 10px whitesmoke;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: darkslategray;
  font-size: 22px;
}
.CommentBody {
  color: white;
  background: grey;
  border-radius: 10px;
  padding: 10px;
  margin: 0;
}

.CommentsHeading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 45px;
  color: grey;
  font-weight: 100;
  font-style: italic;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 15px;
}

.CommentButton {
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: darkslategray;
  background-color: pink;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  font-style: italic;
}

.PostCommentBox {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  border: none;
  background-color: pink;
  width: 450px;
  height: 250px;
  color: darkslategrey;
  margin: 10px;
}

.PostCommentText {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
  letter-spacing: 3px;
  text-align: center;
}
.InputComment {
  border-radius: 10px;
  border: none;
  width: 380px;
  height: 80px;
  margin-left: 28px;
  font-size: 20px;
}

.TextField {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 3px;
  font-size: 20px;
  border: none;
}
.SubmitComment {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: darkslategray;
  font-size: 25px;
  width: 200px;
  height: 50px;
  letter-spacing: 2px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin-top: 10px;
  margin-left: 110px;
  cursor: pointer;
}
