/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App {
  background-color: lightgrey;
  /* display: flex; */
}

header {
  height: 100px;
  background-color: lightgrey;
  text-align: center;
  margin: auto;
}

h1 {
  padding-top: 35px;
  letter-spacing: 9px;
  word-spacing: 2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 80px;
  font-weight: 40;
  margin: auto;
}

.WelcomePage {
  margin: 0 auto 0 auto;
  margin-top: 60px;
  padding: 20px;
  padding-top: 50px;
  width: 700px;
  height: 600px;
  border-radius: 40px;
  background-color: grey;
  color: pink;
  letter-spacing: 10px;
  line-height: 80px;
  font-size: 40px;
  font-weight: 100;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  align-self: center;
}

.SeeReviews {
  padding: 10px;
  border: 1px solid white;
  border-radius: 40px;
  font-style: italic;
  font-size: 40px;
  text-decoration: none;
  color: white;
}

.AllReviewsContainer {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto 0 auto;
  width: 80%;
}

.LoadingMsg {
  text-align: center;
}

.AllReviewsTitle {
  margin-top: 80px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 2px;
  font-style: italic;
  font-size: 40px;
  color: grey;
}

.AllReviews {

  background-color: whitesmoke;
  border-radius: 5px;
  width: 250px;
  height: 400px;
  margin: 10px;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
}


